fastapi
uvicorn
streamlit

langchain
langchain-community
langchain-core
langchain-groq
langchain-google-genai

chromadb
sentence-transformers

pydantic
numpy
pandas

pypdf
python-dotenv
requests
google-generativeai